<div local-class="canvas-workspace">
  <div local-class="anchor-center">
    {{! template-lint-disable no-inline-styles }}
    <div
      data-test-canvas
      local-class="canvas"
      {{sprite-styles this.workspaceSprite}}
    ></div>

    {{#each this.layers as |layer|}}
      <RenderedLayer
        @layer={{layer}}
        @parentSprite={{this.workspaceSprite}}
      />
    {{/each}}
  </div>

  <BackgroundCanvas @parentSprite={{this.workspaceSprite}} />

  <div local-class="anchor-center">
    {{#each this.layers as |layer|}}
      <InteractiveLayer
        @layer={{layer}}
        @parentSprite={{this.workspaceSprite}}
      />
    {{/each}}
  </div>

  <CanvasPan
    local-class="pan-tool"
    @offset={{this.workspaceTranslation}}
    @onPan={{action this.updateTranslation}}
  />

  <CanvasZoom
    local-class="canvas-zoom"
    @percent={{this.workspaceZoom}}
    @action={{action (mut this.workspaceZoom)}}
  />

  <CanvasTools local-class="canvas-tools" />
</div>
