<div
  local-class="layer"
  class={{if this.isSelected (local-class "layer-selected")}}
  {{sprite-styles this.currentSprite}}
>
  <button
    data-test-interactive-layer
    tabindex="0"
    local-class="layer-selector"
    aria-label="Select layer to move"
    onkeydown={{action this.handleKeyDown}}
    onmousedown={{action this.selectLayer}}
    {{drag this.translate "layer-drag"}}
  ></button>
</div>
