<div
  local-class="layer"
  class={{if this.isSelected (local-class "layer-selected")}}
  {{sprite-styles this.currentSprite}}
>
  <button
    data-test-interactive-layer
    tabindex="0"
    local-class="layer-selector"
    aria-label="Select layer to move"
    onkeydown={{action this.handleKeyDown}}
    onmousedown={{action this.selectLayer}}
    {{drag this.translate "layer-drag"}}
  ></button>

  {{#if this.isSelected}}
    {{#each directions as |direction|}}
      <button
        local-class="handle"
        aria-label={{concat "Resize layer by the " direction.name " handle"}}
        data-test-handle={{direction.name}}
        class={{local-class (concat "handle-" direction.name)}}
        {{drag (action this.resize direction.handles) direction.name}}
      ></button>
    {{/each}}

    <button
      local-class="handle"
      aria-label="Rotate the layer"
      data-test-handle="rotate"
      class={{local-class "handle-rotate"}}
      {{drag this.rotate "rotate"}}
    ></button>
  {{/if}}
</div>
