<div local-class="layer-list-container">
  <h2 local-class="layer-header">Layers</h2>
  <ul local-class="layer-list">
    {{#each this.layers as |layer index|}}
      {{#let (contains layer this.selected) as |selected|}}
        <li
          local-class="layer"
          class={{if selected (local-class "layer-selected")}}
        >
          <button
            data-test-layer={{index}}
            data-test-layer-selected={{selected}}
            local-class="select-button"
            aria-label={{concat "Select layer " index (if selected " Currently Selected")}}
            onclick={{action this.selectLayer layer}}
          >
            {{#if layer.label}}
              {{layer.label}}
            {{else}}
              Layer {{index}}
            {{/if}}
          </button>
        </li>
      {{/let}}
    {{/each}}
  </ul>
</div>
